<section class="section relative bg-img-2 overflow-hidden bg-im-none"
         style="background-image: url(img/Background-footer.png);">
  <div class="container">
    <div class="row gap-x-6 lg:gap-x-0">
      <div class="col-span-5 lg:col-span-12 flex flex-col">
        <div class="max-w-[440px] w-full flex flex-col h-full relative">
          @@include('Title-block.html', {
          'Style': '',
          'Subtitle': 'Contact us',
          'Title': 'Contact us <br> today',
          'StyleGreenLine': '',
          })
          <div
            class="lg:hidden w-full rounded-15 mt-auto overflow-hidden block">
            <img class="object-cover rounded-15 w-full" src="img/img-9.png" alt="Alt text" loading="lazy">
          </div>
        </div>
      </div>
      <div class="col-span-7 lg:col-span-12">
        @@include('Form-block.html', {
        'Style': ''
        })
      </div>
    </div>
  </div>
</section>