<div x-data="{ isExpanded: false }" class="overflow-hidden rounded-6xl bg-white border p-8 md:p-4 border-LightBlue2 transition-shadow" :class="isExpanded ? 'shadow-v5'  : ''">
  <button id="controlsAccordionItemOne" type="button" class="flex w-full flex-col text-left text-Top1 text-Blue100 font-semibold" aria-controls="accordionItemOne" @click="isExpanded = ! isExpanded" :class="isExpanded ? ''  : ''" :aria-expanded="isExpanded ? 'true' : 'false'">
    <span class="flex w-full items-center gap-x-4">
      <span class="flex items-center justify-center w-[60px] min-w-[60px] h-[60px]">
      <i class="@@MainIcon w-[60px] h-[60px]"></i>
    </span>
      <span class="md:hidden">@@TitleName</span>
      <span class="w-10 h-10 min-w-10 flex items-center justify-center rounded-full border ml-auto" :class="isExpanded ? 'border-LightBlue3'  : 'border-Green'">
      <svg :class="isExpanded ? 'hidden'  : ''" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M20 10L0 10M10 0V20" stroke="#44B64B"/>
      </svg>
      <svg :class="isExpanded ? ''  : 'hidden'" xmlns="http://www.w3.org/2000/svg" width="20" height="2" viewBox="0 0 20 2" fill="none">
        <path d="M20 1L0 0.999999" stroke="#B5B8D0"/>
      </svg>
    </span>
    </span>
    <span class="minmd:hidden text-body pr-8">@@TitleName</span>
  </button>
  <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne" x-collapse>
    <div class="pt-8">
      <div class="gap-6 md:gap-3 flex flex-wrap justify-center max-w-[1096px] mx-auto">
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Identity Theft',
          'Icon': 'Identity-Theft',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Mixed File',
          'Icon': 'Mixed-File',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Hard Inquiry',
          'Icon': 'Hard-Inquiry',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Fraud Alert',
          'Icon': 'Fraud-Alert',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Late Payments',
          'Icon': 'Late-Payments',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Charge-Off',
          'Icon': 'Late-Payments',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Wrong Balances',
          'Icon': 'Wrong-Balances',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Inaccurate Pay Status',
          'Icon': 'Inaccurate-Pay-Status',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Defaults',
          'Icon': 'Defaults',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Post-Bankruptcy Accounts',
          'Icon': 'Bankruptcy-Accounts',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Student Loan',
          'Icon': 'Student-Loan',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Credit Freeze',
          'Icon': 'Credit-Freeze',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Repossession',
          'Icon': 'Repossession',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Outdated Accounts',
          'Icon': 'Outdated-Accounts',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Double Reported Accounts',
          'Icon': 'Double-Reported-Accounts',
          })
        </div>
        <div class="flex">
           @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'Incorrect Names and Addresses',
          'Icon': 'Incorrect-Names-Addresses',
          })
        </div>
        <div class="flex">
          @@include('Services-Card.html', {
          'Style': '',
          'URL': '#',
          'Title': 'False Deceased Reporting',
          'Icon': 'False-Deceased-Reporting',
          })
        </div>
      </div>
    </div>
  </div>
</div>