<div x-data="{formSubmitted: false}"
     class="form-block max-w-[746px] relative z-[2] xl:px-10 w-full lg:w-full
md:px-3 md:py-8 sm:-mx-3 shadow-v4 rounded-6xl overflow-hidden
bg-white border border-Green p-12 @@Style">
  <div x-show="!formSubmitted">
    <form @submit.prevent="submitForm" class="row gap-x-6 gap-y-5 md:gap-x-0">
      <div class="col-span-6 md:col-span-12">
        @@include('input.html', {
        'common-style': 'input-icon',
        'StyleLabel': '',
        'idInput': 'TextId1',
        'label': 'First name',
        'styleInput': 'user-icon input-icon',
        'type': 'text',
        'errorStyle': 'hidden',
        'placeholder': '',
        })
      </div>
      <div class="col-span-6 md:col-span-12">
        @@include('input.html', {
        'common-style': 'input-icon',
        'StyleLabel': '',
        'idInput': 'TextId2',
        'label': 'Last name',
        'styleInput': 'user-icon input-icon',
        'type': 'text',
        'errorStyle': 'hidden',
        'placeholder': '',
        })
      </div>
      <div class="col-span-6 md:col-span-12">
        @@include('input.html', {
        'common-style': 'input-icon',
        'StyleLabel': '',
        'idInput': 'MailId',
        'label': 'Email',
        'styleInput': 'message-icon input-icon',
        'type': 'email',
        'errorStyle': 'hidden',
        'placeholder': '',
        })
      </div>
      <div class="col-span-6 md:col-span-12">
        @@include('input.html', {
        'common-style': 'input-icon',
        'StyleLabel': '',
        'idInput': 'PhoneId',
        'label': 'Phone Number',
        'styleInput': 'phone-call-icon input-icon',
        'type': 'text',
        'errorStyle': 'hidden',
        'placeholder': '',
        })
      </div>
      <div class="col-span-12">
        @@include('Select.html', {
        'commonStyle': '',
        'labelStyle': '',
        'label': 'Select Service',
        'idSelect': 'selectId',
        'NameSelect': 'Select_Service',
        })
      </div>
      <div class="col-span-12">
        @@include('textarea.html', {
        'commonStyle': '',
        'idTextarea': 'CommentId',
        'label': '',
        'styleTextarea': '',
        'placeholder': 'Text message...',
        'rows': '3',
        })
      </div>
      <div class="col-span-12">
        @@include('checkbox.html', {
        'styleText': '',
        'text': 'I have read and agree to the <a href="Terms&Conditions.html" class="">Privacy Policy</a>, <a href="Terms&Conditions.html">Investigation</a>',
        'errorStyle': 'hidden',
        'errorText': 'Error',
        })

        @@include('button.html', {
        'style': 'shadow-v3 mt-8 md:w-full lg:mt-6',
        'type': 'submit',
        'ariaLabel': 'Send',
        'title': 'Send',
        })
      </div>
    </form>
  </div>
  <div x-show="formSubmitted" class="flex flex-col lg:items-center min-h-[600px] lg:min-h-0 h-full">
    <div class="flex items-center lg:justify-center mb-10 lg:mb-6">
      <img class="lg:max-w-[224px]" src="img/mail-big-icon.svg" alt="Return to the Form img">
    </div>
    <div class="h-full flex flex-col">
      <div class="flex flex-col gap-y-6 mb-8">
        <span class="text-h3 font-semibold lg:text-center lg:text-Top6">Thank you for Contacting Us!</span>
        <p class="lg:text-center lg:text-body">We will contact you with a few minutes for consultation and for answering
          questions you need.</p>
        <span class="border-0 border-b-4 border-Green w-[86px] lg:mx-auto block"></span>
      </div>
      <button @click="formSubmitted = false" class="button group btn-icons mt-auto lg:mx-auto" type="button"
              aria-label="Return to the Form button">
        <svg class="rotate-180 mr-3" xmlns="http://www.w3.org/2000/svg" width="35" height="30" viewBox="0 0 35 30"
             fill="none">
          <path class="group-disabled:fill-DarkGrey" fill-rule="evenodd" clip-rule="evenodd"
                d="M20.3602 1.33758C13.9099 1.33758 8.52797 6.0309 7.29254 12.2668C7.22083 12.6288 6.8763 12.8627 6.52301 12.7892C6.16972 12.7157 5.94146 12.3627 6.01317 12.0007C7.36967 5.15371 13.2768 0 20.3602 0C28.4455 0 35 6.71573 35 15C35 23.2843 28.4455 30 20.3602 30C13.2768 30 7.36967 24.8463 6.01317 17.9993C5.94146 17.6373 6.16972 17.2843 6.52301 17.2108C6.8763 17.1373 7.22083 17.3712 7.29254 17.7332C8.52797 23.9691 13.9099 28.6624 20.3602 28.6624C27.7245 28.6624 33.6945 22.5455 33.6945 15C33.6945 7.45445 27.7245 1.33758 20.3602 1.33758Z"
                fill="white" />
          <path class="group-disabled:fill-DarkGrey" fill-rule="evenodd" clip-rule="evenodd"
                d="M20.5873 10.1989L24.8058 14.5199C25.0647 14.785 25.0647 15.215 24.8058 15.4801L20.5873 19.8011C20.3284 20.0663 19.9087 20.0663 19.6499 19.8011C19.391 19.536 19.391 19.1061 19.6499 18.8409L22.7368 15.679H0.662879C0.296781 15.679 0 15.375 0 15C0 14.625 0.296781 14.321 0.662879 14.321H22.7368L19.6499 11.1591C19.391 10.8939 19.391 10.464 19.6499 10.1989C19.9087 9.93371 20.3284 9.93371 20.5873 10.1989Z"
                fill="white" />
        </svg>
        <span class="">Return to the Form</span>
      </button>
    </div>
  </div>
</div>
<script>

</script>