.icon-speed {
  background: url("../img/icons/Icon-speed-75.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Quick-solutions {
  background: url("../img/icons/Quick-solutions-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Identity-Theft {
  background: url("../img/icons/Identity-Theft-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.logo-1 {
  background: url("../img/icons/logo-1.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block w-[100px] h-10
}

.user-icon {
  background: url("../img/icons/user.svg") no-repeat calc(100% - 16px) center;
  background-size: 20px 20px;
}

.message-icon {
  background: url("../img/icons/message.svg") no-repeat calc(100% - 16px) center;
  background-size: 20px 20px;
}

.phone-call-icon {
  background: url("../img/icons/phone-call.svg") no-repeat calc(100% - 16px) center;
  background-size: 20px 20px;
}