.icon-speed {
  background: url("../img/icons/Icon-speed-75.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Quick-solutions {
  background: url("../img/icons/Quick-solutions-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Identity-Theft {
  background: url("../img/icons/Identity-Theft-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Mixed-File {
  background: url("../img/icons/Mixed-File-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Hard-Inquiry {
  background: url("../img/icons/Hard-Inquiry-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Fraud-Alert {
  background: url("../img/icons/Fraud-Alert-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Late-Payments {
  background: url("../img/icons/Late-Payments-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Wrong-Balances {
  background: url("../img/icons/Wrong-Balances-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Inaccurate-Pay-Status {
  background: url("../img/icons/Inaccurate-Pay-Status-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Defaults {
  background: url("../img/icons/Defaults-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Bankruptcy-Accounts {
  background: url("../img/icons/Bankruptcy-Accounts-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Student-Loan {
  background: url("../img/icons/Student-Loan-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Credit-Freeze {
  background: url("../img/icons/Credit-Freeze-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Repossession {
  background: url("../img/icons/Repossession-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Outdated-Accounts {
  background: url("../img/icons/Outdated-Accounts-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Double-Reported-Accounts {
  background: url("../img/icons/Double-Reported-Accounts-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Incorrect-Names-Addresses {
  background: url("../img/icons/Incorrect-Names-Addresses-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.False-Deceased-Reporting {
  background: url("../img/icons/False-Deceased-Reporting-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.logo-1 {
  background: url("../img/icons/logo-1.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block w-[100px] h-10
}

.user-icon {
  background: url("../img/icons/user.svg") no-repeat calc(100% - 16px) center;
  background-size: 20px 20px;
}

.message-icon {
  background: url("../img/icons/message.svg") no-repeat calc(100% - 16px) center;
  background-size: 20px 20px;
}

.phone-call-icon {
  background: url("../img/icons/phone-call.svg") no-repeat calc(100% - 16px) center;
  background-size: 20px 20px;
}

.Check-box-on {
  background: url("../img/icons/Checkbox-on.svg") no-repeat center;
  background-size: 20px 20px;
  display: block;
  width: 20px;
  height: 20px;
}

.Icon-money {
  background: url("../img/icons/Icon-money-75.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Icon-Identity {
  background: url("../img/icons/Icon-Identity-75.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Icon-Attorney {
  background: url("../img/icons/Icon-Attorney-75.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Icon-Car-Accident {
  background: url("../img/icons/Icon-Car-Accident-75.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Icon-Check-Errors {
  background: url("../img/icons/Icon-Check-Errors-75.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Icon-Discrimination {
  background: url("../img/icons/Icon-Discrimination-75.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Debt-Collection {
  background: url("../img/icons/Debt-Collection-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Labor {
  background: url("../img/icons/Labor-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Check {
  background: url("../img/icons/Check-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Accident {
  background: url("../img/icons/Accident-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Lawyer {
  background: url("../img/icons/Lawyer-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Identity {
  background: url("../img/icons/Identity-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Reliability {
  background: url("../img/icons/Reliability-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Your-Secure {
  background: url("../img/icons/Your-Secure-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Successful-Result {
  background: url("../img/icons/Successful-Result-60.svg") no-repeat center center;
  background-size: 100% auto;
  @apply block
}

.Dropdown-up-down {
  background: url("../img/icons/Dropdown-up-down.svg") no-repeat center center;
  background-size: 20px 20px;
  @apply block
}