// Footer Style Start


// Footer Style End

// Blog Card Style Start


// Blog Card Style End

// Button with arrow Style Start

.button {

  &.width-full {
    @apply w-full;
  }

  &.btn-link {
    border: 0 !important;
    @apply bg-transparent p-0 min-w-0 h-auto min-h-0 hover:bg-transparent focus:bg-transparent text-Green hover:text-LightGreen active:text-green600 disabled:text-Grey font-normal text-body2;
  }

  &.btn-icons {
    @apply relative min-w-[415px] md:min-w-[200px]
  }

  &.btn-outline {
    @apply bg-transparent hover:bg-transparent focus:bg-transparent text-Green hover:text-LightGreen active:text-green600 disabled:text-Grey;
  }

  @apply h-16 min-h-16 lg:h-[50px] lg:min-h-[50px] px-16 min-w-[102px] w-fit flex items-center justify-center rounded-5xl text-white text-Top3 lg:text-base text-center font-medium bg-Green border border-Green transition-all hover:bg-LightGreen hover:text-white hover:border-LightGreen active:bg-green600 disabled:bg-Grey disabled:border-Grey disabled:text-DarkGrey focus:ring-0 outline-0 focus:outline-0 focus:outline-inherit;
}

// Button with arrow Style End

// Info Elem Style Start

.info-item {

  &.medium {
    @apply h-10 min-h-10 text-base
  }

  @apply p-2 border border-DarkBlue rounded-lg flex items-center justify-center text-body2 font-medium
}

// Info Elem Style End

// Checkbox Style Start


// Checkbox Style End

// Pagination Style Start


// Pagination Style End

// FAQ Style Start


// FAQ Style End

// Mega Menu Header Style Start


// Mega Menu Header Style End

// Splide slider Start


// Splide slider End

// Text Block Style Start


// Text Block Style End

.bg-gradient-main {
  background: linear-gradient(0deg, rgba(5, 9, 62, 0.40) 0%, rgba(5, 9, 62, 0.40) 100%);
}

.main-title {
  @apply text-h2 font-bold md:text-h2Mob
}

.section {
  @apply py-14 lg:py-10
}

.Border-wave {
  background: url("../img/icons/Border-wave.svg") repeat-x center;
  background-size: 41px 10px;
  display: block;
  width: 100%;
  height: 10px;
}

// Text Content Start
.text-content {

  p {
    @apply text-base md:text-body -tracking-018 text-DarkBlue
  }

  ol {
    @apply list-decimal text-base -tracking-018 text-DarkBlue font-medium pl-6
  }

  ul {
    @apply list-disc text-base -tracking-018 text-DarkBlue font-medium pl-6
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-bold mb-4 block
  }
}

.text-content--tou {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply text-DarkBlue font-semibold
  }
}

// Text Content End

//
.active-tag {

  span {
    @apply text-DarkBlue font-semibold
  }

  @apply border-DarkBlue
}

//

.alphabet-list > div {
  max-width: calc(25% - 24px);
  width: 100%;

  @media (max-width: 1023.98px) {
    max-width: calc(33% - 20px);
  }

  @media (max-width: 767.98px) {
    max-width: calc(50% - 16px);
  }

  @media (max-width: 639.98px) {
    max-width: 100%;
  }
}

.checkboxes-alphabet-list {
  overflow: inherit;

  input {
    @apply hidden
  }

  label {
    @apply w-10 min-w-10 h-10 flex items-center justify-center border border-DarkBlue rounded-full overflow-hidden bg-pageBg cursor-pointer
  }

  .swiper-slide {
    width: auto;
  }

  @apply flex flex-wrap gap-2 mx-auto w-full justify-center mt-10
}

.checkboxes-alphabet-list label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxes-alphabet-list label.bg-blue-500 {
  background-color: #32CDD7; /* Синий фон при активации */
  border-color: #32CDD7;
  color: #fff;
}

/* Стиль для отключенных кнопок */
.checkboxes-alphabet-list input:disabled + span {
  background-color: #F9FBFF; /* Серый фон для отключенной кнопки */
  color: #05093E1A; /* Текст серого цвета */
  cursor: not-allowed;
}

// Pagination Start

.pagination-button {
  &--disabled {
    @apply bg-transparent
  }

  @apply w-[42px] h-[42px] min-w-[42px] flex items-center justify-center rounded-full overflow-hidden border border-DarkBlue text-none bg-White2 hover:cursor-pointer
}

// Pagination End

.inactive-tag {
  span {
    @apply text-DarkBlue font-medium
  }

  @apply border-DarkBlue
}

// swiper Start

.swiper-custom {
  .swiper-pagination-bullet {
    @apply w-6 h-6 lg:w-[18px] lg:h-[18px] opacity-100 bg-DarkBlue
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.6);
  }

  .swiper-pagination-bullet-active {
    @apply bg-DarkBlue
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    display: none;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-arrow {
    .swiper-button-icon {
      width: auto;
      height: auto;
    }

    .swiper-button-icon--BlackText {
      @apply hidden
    }

    .swiper-button-icon--white {
      @apply block
    }

    &.swiper-button-disabled {
      @apply opacity-100 border border-BlackText bg-transparent
    }

    @apply w-12 h-12 rounded-full flex justify-center items-center overflow-hidden bg-DarkBlue
  }

  .swiper-button-arrow.swiper-button-disabled {
    .swiper-button-icon--BlackText {
      @apply block
    }

    .swiper-button-icon--white {
      @apply hidden
    }
  }
}

.condition-swiper {
  overflow: inherit;

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 639.98px) {
    .swiper-slide {
      width: auto;
    }
  }
}

.swiper-zoom-container {
  img {
    @apply hover:cursor-zoom-in
  }
}

.gallery-swiper-big {

  .swiper-slide {
    @apply rounded-6xl overflow-hidden border border-DarkBlue flex justify-center items-center
  }

  img {
    @apply object-center object-cover max-h-[448px] bg-white
  }
}

.gallery-swiper {
  .swiper-slide {
    @apply rounded-2xl overflow-hidden border border-DarkBlue flex justify-center items-center cursor-pointer
  }

  img {
    @apply object-center object-cover max-h-[448px] bg-white
  }
}

.swiper-blog {
  overflow: inherit;

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 1023.98px) {
    .swiper-slide {
      width: auto;
    }
  }
}

.swiper-brands {

  @media (max-width: 1023.98px) {
    overflow: inherit;

    .swiper-slide {
      width: auto;
    }
  }


  @apply px-2 -mx-2
}

// swiper End

//Other
.hero-bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(5, 9, 62, 0.50) 0%, rgba(5, 9, 62, 0.50) 100%);
}

.top-line {
  @apply relative
}

.top-line:before {
  content: '';
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #05093E1A;
  height: 20px;
  display: block;

  @apply lg:-right-2
}

.w-BlackText {
  max-width: calc(100% - 40px);
}

.icon-40 {
  @apply md:w-10 md:h-10
}

.icon-40-lg {
  @media (max-width: 1023.98px) {
    width: 40px !important;
    height: 40px !important;
  }
}

.icon-72 {
  @media (max-width: 1023.98px) {
    width: 72px !important;
    height: 72px !important;
  }
}

.icon-16 {
  @apply md:w-4 md:h-4 md:min-w-4
}

.icon-25 {
  @apply md:w-[25px] md:h-[25px] md:min-w-[25px]
}

.menu-item-active {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    display: block;
    border-bottom: 2px solid #3D65FF;
  }
}

.consultation-list {
  .consultation-list__item:not(:last-child) {
    padding-bottom: 32px;
    border-bottom: 1px solid #05093E1A;
    margin-bottom: 24px;
  }
}

.gradient-img {
  background: url("../img/gradient-img.png") no-repeat center;
  background-size: 100% 546px;
  display: block;
  width: 100%;
  height: 546px;
}

.checkbox-style:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.checkbox-style:checked:focus {
  border-color: #2490EB !important;
}

.checkbox-style:hover {
  border-color: #2490EB !important;
}

.checkbox-style:checked {
  background: white !important;
}

.shadow-elem-hero-block-1 {
  border-radius: 100%;
  opacity: 0.2;
  background: radial-gradient(61.92% 61.92% at 37.2% 45.12%, #44B64B 0%, #262C73 100%);
  filter: blur(150px);
  width: 562px;
  height: 562px;
}

.shadow-elem-hero-block-2 {
  border-radius: 780px;
  opacity: 0.2;
  background: radial-gradient(61.92% 61.92% at 37.2% 45.12%, #44B64B 0%, #262C73 100%);
  filter: blur(150px);
  width: 780px;
  height: 780px;
}

.shadow-elem-hero-block-3 {
  border-radius: 780px;
  opacity: 0.2;
  background: radial-gradient(61.92% 61.92% at 37.2% 45.12%, #44B64B 0%, #262C73 100%);
  filter: blur(150px);
  width: 393px;
  height: 393px;
}

// Hero Section Start
.hero-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;

  @media (max-width: 767px) {
    background-position: center bottom;
  }
}
// Hero Section End

.img-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.color-wrapper {
  width: 100%;
}

.bg-gradient1 {
  background: linear-gradient(180deg, #F4F5FC 15.36%, rgba(243, 244, 255, 0.00) 97.81%);
}

.bg-gradient2 {
  background: linear-gradient(58deg, rgba(48, 54, 122, 0.90) 9.64%, rgba(48, 54, 122, 0.00) 68.3%);
}

.img-filter-1 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 276px;
  height: 354px;
}

.img-filter-2 {
  position: absolute;
  width: 281px;
  height: 202px;
}

.img-filter-3 {
  position: absolute;
  width: 277px;
  height: 320px;
}

.img-filter-4 {
  position: absolute;
  width: 305px;
  height: 301px;
}

.img-filter-5 {
  position: absolute;
  width: 526px;
  height: 411px;
}

.img-filter-1:before, .img-filter-2:before, .img-filter-3:before, .img-filter-4:before, .img-filter-5:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: rgba(48, 54, 122, 0.9); /* Цвет фильтра */
  background-blend-mode: screen;
  pointer-events: none;
}

.bg-img-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
}

.bg-img-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
}

.bg-Attorney-Card-img {
  background: url("../img/image-bg-card-1.png") no-repeat center;
  background-size: cover;
}

.bgim-style {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.time-slot {
  @apply flex items-center justify-center text-body2 font-medium text-Green h-[34px] w-[177px] border border-Green rounded-lg
}

#time-picker {
  @apply flex flex-col items-center ml-6
}

[data-vc-date] .vc-date__btn {
  @apply w-[41px] h-[41px] min-w-[41px] rounded-full bg-LightBlue7 text-body2 text-black
}

.vc-dates {
  @apply gap-[6px]
}

[data-vc-theme=light] .vc-date[data-vc-date-selected] .vc-date__btn {
  @apply bg-Green hover:bg-Green
}

[data-vc-theme=light] .vc-date[data-vc-date-holiday] .vc-date__btn, [data-vc-theme=light] .vc-date[data-vc-date-weekend] .vc-date__btn {
  @apply bg-LightBlue7 text-black
}

#time-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.custom-input {
  position: relative;
  @apply gap-x-2 cursor-pointer;
}

.custom-input .placeholder {
  color: #B5B8D0 !important;
}

.clear-button {
  border: none;
  background: none;
  color: #999;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.clear-button:hover {
  color: #333;
}

.sticky-header {
  @apply transition-all duration-300 ease-in-out;
}

.sticky-header-active {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  @apply shadow-v1 z-50;
}

.bg-im-none {
  @media (max-width: 1023.98px) {
    background-image: none !important;
  }
}

.hero-img-1 {
  background-image: url(../img/Hero-img-1.png);

  @media (max-width: 767px) {
    background-image: url(../img/Hero-img-1-mob.png)
  }
}

.form-block.lg\:w-full{
  @media (max-width: 639px) {
    width: calc(100% + 32px) !important;
  }
}

.mobile-menu {
  min-height: 100vh;
}

#mobile-menu {
  position: fixed;
  top: 79px;
  left: 0;
  width: 100%; /* Ширина меню */
  height: 100%;
  transform: translateX(-100%); /* По умолчанию скрыто за экраном */
  transition: transform 0.3s ease; /* Анимация появления */
  background: #fff;
}

/* Если меню активно */
#mobile-menu.show {
  transform: translateX(11px); /* Показываем меню */
}

.burger-line.open:first-child {
  transform: rotate(45deg) translateY(6px) translateX(5px);
}

.burger-line.open:nth-child(2) {
  opacity: 0;
}

.burger-line.open:last-child {
  transform: rotate(-45deg) translateY(-6px) translateX(5px);
}

.map-style-1 {
  @apply  h-[800px] w-full lg:h-[500px]
}